{% block header %}
    {{ render(controller(
        'App\\Controller\\MainController::header',
        { 'page': "movierama" }
    )) }}
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}


{% block body %}
<body class="">
  <div class="container">
    <div class="m-3 p-3 text-center">
      <h1>Movierama</h1>
    </div>
    {# <div class="m-3">
      <a class="btn btn-primary" href="{{ path('movierama_search') }}" role="button">Rechercher</a>
    </div> #}
    <div class="m-3 p-3 col-12">
      <form action="{{ url('movierama_search') }}" method="get" class="input-group my-3 col-3">
        <input id="movie" name="movie" type="search" class="form-control" placeholder="Titre..." aria-label="Search" value="{{ title }}">
        <button class="btn btn-dark" type="submit">Chercher</button>
      </form>
    </div>
  </div>
    <br>
  <div class="container">
    {% if movies.Response == "False" %}
      <div class="text-center m-3">
        <h4>Pas de film trouvé pour "{{ title }}" ... &#128533;</h4>
      </div>
    {% else %}
    <div id="list" name="list" class="">
      {% for movie in movies.Search %}
        <div class="container m-3 p-3 border border-dark border-5" style="border-radius: 30px;">
          <div class="row">
            <div class="col-3" style="max-width : 200px;">
            {% if movie.Poster == "N/A" %}
              <img src="/images/No-Image-Placeholder.svg" class="mw-50 img-thumbnail" alt="...">
            {% else %}
              <a href={{ movie.Poster }}><img src={{ movie.Poster }} class="img img-thumbnail" alt="..."></a>
            {% endif %}
              <p class="text-center m-3">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ movie.imdbID }}" aria-expanded="false" aria-controls="collapseExample">
                  Plus
                </button>
              </p>
            </div>
            <div class="text-center col-9">
              <h4 class="mb-3">{{ movie.Title }}</h4>
              <b>Date de sortie : </b>{{ movie.Released }}
              <br>
              <b>Durée : </b>{{ movie.Runtime }}
              <br>
              <b>Genre : </b>{{ movie.Genre }}
              <br>
              <b>Synopsis EN : </b>{{ movie.Plot }}
              <br>
              <b>Synopsis FR : </b>{{ movie.SynopsisFR }}
              <br>
              <b>Note : </b>{{ movie.imdbRating }}/10 pour {{ movie.imdbVotes }} vote(s) sur Imdb
              <br>
              <div class="collapse" id="collapseExample{{ movie.imdbID }}">
                <b>Classification : </b>{{ movie.Rated }}
                <br>
                <b>Producteur : </b>{{ movie.Director }}
                <br>
                <b>Scénariste : </b>{{ movie.Writer }}
                <br>
                <b>Acteurs : </b>{{ movie.Actors }}
                <br>
                <b>Language : </b>{{ movie.Language }}
                <br>
                <b>Pays : </b>{{ movie.Country }}
                <br>
                <b>Awards : </b>{{ movie.Awards }}
                <br>
                <b>Sortie DVD : </b>{{ movie.DVD }}
                <br>
                <b>BoxOffice : </b>{{ movie.BoxOffice }}
                <br>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</body>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}