<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nicolas Diot's Website{% endblock %}</title>
        {# <link rel="icon" href="{{ asset('favicon.ico') }}"> #}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
            <link rel="icon" href="favicon.ico">

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <header class="bg-dark text-white fixed-top sticky-top">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center text-white text-decoration-none">
            <img class="rounded" style="width : 10%" src="Photo.jpg" alt="Nicolas Diot">
            <p class="text-warning text-start m-3">Nicolas Diot</p>
            {# <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> #}
          </a>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills navbar-nav mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('index') }}" class="nav-link px-2 text-white {% if page == "index" %} active {% endif %}">Présentation</a></li>
                    <li><a href="{{ path('cv') }}" class="nav-link px-2 text-white {% if page == "cv" %} active {% endif %}">CV</a></li>
                    <li><a href="{{ path('hashtag') }}" class="nav-link px-2 text-white {% if page == "hashtag" %} active {% endif %}">Hashtag Live</a></li>
                    {# <li><a href="https://192.168.1.145/mon_site" class="nav-link px-2 text-white">mon_site</a></li> #}
                    <li><a href="https://192.168.1.145" class="nav-link px-2 text-white">Drupal</a></li>
                    {# <li><a href="https://www.google.fr" class="nav-link px-2 text-white">Google</a></li> #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      {# <div class="m-3 mt-4">
                        <p>Utilisateur : {{ app.user.username }}</p>
                      </div> #}
                      <li><a href="{{ path('app_logout') }}" class="nav-link px-2 text-white {% if page == "login" %} active {% endif %}">Logout</a></li>

                      {# <div class="text-end">
                        <a href="{{ path('app_logout') }}">
                          <button type="button" href="{{ path('app_logout') }}" class="btn btn-outline-light me-2">Logout</button>
                        </a>
                      </div> #}
                    {% else %}
                      <li><a href="{{ path('app_login') }}" class="nav-link px-2 text-white {% if page == "login" %} active {% endif %}">Login</a></li>

                      {# <div class="text-end">
                        <a href="{{ path('app_login') }}">
                          <button type="button" href="{{ path('app_login') }}" class="btn btn-outline-light me-2">Login</button>
                        </a>
                      </div> #}
                    {% endif %}
                  </ul>
              </div>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="m-3">Connecté : {{ app.user.username }}</p>
          {% endif %}
            </div>
          </nav>
        </div>
      </div>
    </header>
  
    <body>
        {% block body %}{% endblock %}
    </body>
    {# <footer class="text-black fixed-bottom sticky-bottom">
    {% block footer %}
      {% include 'footer.html.twig' %}
    {% endblock %}
    </footer> #}
</html>
