<!DOCTYPE html>
<html style="position: relative; min-height: 100%;">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nicolas Diot's Website{% endblock %}</title>
        {# <link rel="icon" href="{{ asset('favicon.ico') }}"> #}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
            <link rel="icon" href="/favicon.ico">
            <style>
            /*
              @media (prefers-color-scheme: dark) {
                body {
                  background-color: black;
                  color: white;
                }
              }
              */
            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
            <script>
              $( document ).ready(function() {
                var miniature = document.getElementById('btn-miniature');
                var tooltip = new bootstrap.Tooltip(miniature);

                $( "#btn-miniature" ).click(function() {
                  //miniature.setAttribute('data-bs-toggle', 'tooltip');
                  //miniature.setAttribute('data-bs-html', 'true');
                  //miniature.setAttribute('data-bs-placement', 'bottom');
                  //miniature.setAttribute('title', '<b>C\'est moi !</b>');
                  tooltip.show();
                  scroll(0, 10000);
                  setTimeout(function(){ tooltip.hide(); }, 3000);
                });
                $( "#flexSwitchCheckTheme" ).change(function() {
                  if(this.checked) {
                    $("body").css("background-color","black");
                    $(".card").css("background-color","black");
                    $("body").css("color","white");
                    $("#contact_text").css("color","black");
                    $(".border").css("color","white");
                    $(".alert").removeClass("alert-success");
                    $(".alert").addClass("alert-dark");
                  }else{
                    $("body").css("background-color","white");
                    $(".card").css("background-color","white");
                    $("body").css("color","black");
                    $(".border").css("color","black");
                    $(".alert").removeClass("alert-dark");
                    $(".alert").addClass("alert-success");
                  }
                });
              });
            </script>
        {% endblock %}

    </head>
    <header class="bg-dark text-white fixed-top sticky-top">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <div class="navbar-brand d-flex align-items-center text-white text-decoration-none">
            <a href="/">
              <img id="miniature" class="rounded img-thumbnail bg-dark" style="width : 100px" src="/images/index_miniature.jpg" alt="Nicolas Diot">
            </a>
            <button id="btn-miniature" class="btn btn-warning ml-3 m-3" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="<b>Contactez moi !</b>">Nicolas Diot</button>
          </div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills navbar-nav mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('index') }}" class="nav-link px-2 text-white {% if page == "index" %} active {% endif %}">Présentation</a></li>
                    <li><a href="{{ path('moncv') }}" class="nav-link px-2 text-white {% if page == "cv" %} active {% endif %}">CV</a></li>
                    <li><a href="{{ path('movierama_index') }}" class="nav-link px-2 text-white {% if page == "movierama" %} active {% endif %}">Movierama API</a></li>
                    <li><a href="{{ path('movierama_crud_index') }}" class="nav-link px-2 text-white {% if page == "movierama_crud" %} active {% endif %}">Movierama DT</a></li>
                    <li><a href="{{ path('PixelClicker') }}" class="nav-link px-2 text-white {% if page == "PixelClicker" %} active {% endif %}">Pixel Clicker</a></li>
                    {# <li><a href="{{ path('drupal') }}" class="nav-link px-2 text-white">Drupal</a></li> #}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="http://82.66.84.237/HashtagLive" class="nav-link px-2 text-white {% if page == "hashtag" %} active {% endif %}">Hashtag Live</a></li>
                    <li><a href="./../../Demineur/demineur.html" class="nav-link px-2 text-white {% if page == "Demineur" %} active {% endif %}">Demineur</a></li>
                    {# <li><a href="{{ path('contraire') }}" class="nav-link px-2 text-white {% if page == "Contraire" %} active {% endif %}">Je veux mon contraire</a></li> #}
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                      <li><a href="{{ path('app_logout') }}" class="nav-link px-2 text-white {% if page == "login" %} active {% endif %}">Logout</a></li>
                    {% else %}
                      <li><a href="{{ path('app_login') }}" class="nav-link px-2 text-white {% if page == "login" %} active {% endif %}">Login</a></li>

                      {# <div class="text-end">
                        <a href="{{ path('app_login') }}">
                          <button type="button" href="{{ path('app_login') }}" class="btn btn-outline-light me-2">Login</button>
                        </a>
                      </div> #}
                    {% endif %}
                  </ul>
              </div>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="m-3">Connecté : {{ app.user.username }}</p>
          {% endif %}
            </div>
          </nav>
          <div class="switch">
            <div class="container">
              <div class="d-flex">
                  Claire
                  <div class="form-switch ms-2">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckTheme">
                  </div>
                  <label for="flexSwitchCheckTheme" class="form-check-label">Sombre</label>
              </div>
              <div class="d-flex">
                  Français
                  <div class="form-switch form-check ms-2">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckLanguage">
                  </div>
                  <label for="flexSwitchCheckLanguage" class="form-check-label">Anglais</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    {# <footer class="text-black fixed-bottom sticky-bottom">
    {% block footer %}
      {% include 'footer.html.twig' %}
    {% endblock %}
    </footer> #}
